
[submodule "chipcompiler/thirdparty/icsprout55-pdk"]
	path = chipcompiler/thirdparty/icsprout55-pdk
	url = https://github.com/openecos-projects/icsprout55-pdk.git
[submodule "chipcompiler/thirdparty/ecc-tools"]
	path = chipcompiler/thirdparty/ecc-tools
	url = https://github.com/openecos-projects/ecc-tools.git
