[submodule "chipcompiler/thirdparty/iEDA"]
	path = chipcompiler/thirdparty/iEDA
	url = https://gitee.com/oscc-project/iEDA.git
[submodule "chipcompiler/thirdparty/icsprout55-pdk"]
	path = chipcompiler/thirdparty/icsprout55-pdk
	url = https://github.com/openecos-projects/icsprout55-pdk.git
